.engineering-section {
  max-width: 90%;
  margin: 0 auto;
}

.engineering-card-container {
  width: 100%;
}

@media screen and (width >=1024px) {
  .engineering-card-container {
    width: 40%;
  }
}
